<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row" *ngIf="!noProductFound">
        <div
          *ngFor="let product of loadedProducts"
          class="col-md-3"
        >
          <div
            class="product-box"
            style="cursor: pointer"
          >
            <img src="{{ product.imageUrl }}" class="img-responsive"  (click)="onDetails(product.id)" />
            <h1>{{ product.name }}</h1>
            <div class="price">{{ product.unitPrice | currency: "USD" }}</div>
            <a (click)="addItem(product)" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>
      <div *ngIf="noProductFound" class="alert alert-warning">
        No product found
      </div>
      <div class="footer-pagination">
        <div class="row">
          <div
            class="col-md-11"
            style="
              padding-left: 30%;
              display: flex;
              justify-content: space-around;
              align-items: baseline;
            "
          >
            <ngb-pagination
              [(page)]="thePageNumber"
              [pageSize]="thePageSize"
              [collectionSize]="theTotalElements"
              [maxSize]="5"
              [boundaryLinks]="true"
              (pageChange)="pageChange()"
            ></ngb-pagination>
            <span
              >Page size:
              <select #pageSize (change)="updateSize(pageSize.value)">
                <option
                  #optionOne
                  [selected]="thePageSize === +optionOne.value"
                >
                  5
                </option>
                <option
                  #optionTwo
                  [selected]="thePageSize === +optionTwo.value"
                >
                  10
                </option>
                <option
                  #optionThree
                  [selected]="thePageSize === +optionThree.value"
                >
                  20
                </option>
                <option
                  #optionFour
                  [selected]="thePageSize === +optionFour.value"
                >
                  50
                </option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
